PrusaSlicer/cache
PrusaSlicer/physical_printer
PrusaSlicer/shapes
PrusaSlicer/sla*
PrusaSlicer/snapshots
gpg/crls.d
gpg/private-keys-v1.d/
gpg/public-keys.d
gpg/pubring.kbx
gpg/pubring.kbx~
gpg/random_seed
gpg/trustdb.gpg
mpv/watch_later
nvim/lazy-lock.json
systemd/user/default.target.wants
systemd/user/sockets.target.wants
tags
tmux/.tmux/plugins/
zsh/.local/share/zsh/hist
Thunar/accels.scm
./nvim/.config/nvim/lazy-lock.json
