PrusaSlicer/cache
PrusaSlicer/physical_printer
PrusaSlicer/shapes
PrusaSlicer/sla*
PrusaSlicer/snapshots
gpg/.gnupg/crls.d
gpg/.gnupg/private-keys-v1.d/
gpg/.gnupg/public-keys.d
mpv/watch_later
nvim/lazy-lock.json
systemd/user/default.target.wants
systemd/user/sockets.target.wants
tags
tmux/.tmux/plugins/
zsh/.local/share/zsh/hist
Thunar/accels.scm
./nvim/.config/nvim/lazy-lock.json
