[Unit]
Description=xremap

[Service]
Type=simple
Restart=no
TimeoutStopSec=1s
ExecStart=xremap /home/kawaegle/.config/xremap.yaml

[Install]
WantedBy=default.target
