[Unit]
Description=xremap

[Service]
Type=simple
Restart=always
ExecStart=xremap /home/kawaegle/.config/xremap.yml

[Install]
WantedBy=default.target
